body {
}
*{margin: 0;
  font-family: Poppins;
}
#container{
  width: 80%;
  margin: auto;
  position: relative;
}
/****       Logo        ****/
#logo{
  background: url("./img/logos/logo.svg");
  width: 100%;
  height: 80px;
  margin: 15px auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/****       FIN LOGO        ****/

/****       Filters       ****/
#filters{
  position: fixed;
  top: 2.5vh;
  right: 2.5vh;
  width: 7vh;
  height: 7vh;
  background: #FFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

#btn_filters{
  width: 60%;
  height:60%;
  background: url("./img/icon/filter.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/****       FIN FILTERS       ****/


/****       Menu Filters        ****/
#menu_filters{
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #FF00F1 0%, #6100FF 100%);;
}

/****       FIN MENU FILTERS        ****/

/****       Menu        ****/

.MenuNavigation{
  width: 100%;
  height: 10vh;
  background: linear-gradient(90deg, #FF00F1 0%, #6100FF 100%);
  position: fixed;
  bottom: 0;
}

.btn_menu_div{
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translate(-50%);
}
.btn_menu{
  width: 7vh;
  height: 7vh;
  background: #FFF;
  border-radius: 50%;
  border: 2px solid #CCCCCC;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_menu.active{
  width: 10vh;
  height: 10vh;
}

#btn_score{
  width: 60%;
  height:60%;
  background: url("./img/icon/scores.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#btn_home{
  width: 60%;
  height:60%;
  background: url("./img/icon/home.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#btn_profil{
  width: 60%;
  height:60%;
  background: url("./img/icon/user.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}




/****       FIN MENU        ****/



.modal.active{
  top: 371px;

}
.modal{
  top: -100vh;
  width: 100%;
  height: 91vh;
  background: #eee;
  position: fixed;

  left: 50%;
  transform: translate(-50%,-50%);

  transition: all ease 0.5s;
  background: linear-gradient(to right, #FF00F1 0%, #6100FF 100%);
}

.modal-content{
  position: absolute;
  top : 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.modal-content > form{
  width: 70%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;

}

.modal .btn_submit{
  color: #FF00F1;
  background: white;
}

.champs_recherche{
  width: 100%;
  padding: 10px;
  outline: none;
  background: inherit;
  border: none;
  border-bottom: white 2px solid;
  color: white;

}

#cancel{
  position: absolute;
  top: 20px;
  right: 20px;
}
/****       QUIZZ       ****/
#container_quizz{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 15vh;
}
#first_quizz{
  width: 100%;
  height: 20vh;
  background: #C4C4C4;
  border-radius: 10px;
  overflow: hidden;
}
.quizz_card{
  flex-basis: 30%;
  height: 20vh;
  border-radius:10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 1.25vh;
  margin-bottom: 1.25vh;
}

.lien_quizz{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image_quizz{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.titre_quizz{
  color: white;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}





/****       FIN QUIZZ       ****/


/****       Login       ****/


#logo_notlogged {
  background: url('./img/logos/logo.svg');
  width: 192px;
  height: 120px;
  margin: 20vh auto;
}

#buttons_list div {
  margin: 30px auto;
  border-radius: 50px;
}


#buttons_list div a::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background: linear-gradient(90deg, #FF00F1 0%, #6100FF 100%);
  outline: none;
}

#buttons_list div a {
  display: block;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: #fff;
  position: relative;
  padding: 10px;
  width: 50vw;
  margin: 0 auto;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

/* END LOGIN/REGISTER HOME */

/* LOGIN PAGE */

#login {
  margin: 15vh 0;
}

.txtb{
  width: 70vw;
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 30px auto;
}

.txtb  input{
  position: relative;
  font-size: 15px;
  color: black;
  border: none;
  background: none;
  width: 100%;
  padding: 0 5px;
  height: 40px;
  z-index: 3;
  outline: none;

}
.txtb  textarea{
  position: relative;
  font-size: 15px;
  color: black;
  border: none;
  background: none;
  width: 100%;
  padding: 5px 5px;
  height: 100px;
  z-index: 3;
  outline: none;
  resize: none;

}

.txtb span{
  transform-origin: left;

}

.txtb span::before{
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #adadad;
  z-index: 0;
  transition: .5s;

}

.txtb span::after{

  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, #FF00F1 0%, #6100FF 100%);
  left: 0;
  bottom: -1.5px;
  transition: .5s;
}

.focus + span::before{
  top: -5px;
}
.focus + span::after{
  width: 100%;
}


/*** AFFICHAGE LANCEMENT QUIZZ ****/
.pageDeLancement{
  width:100%;
  height: calc(100vh - 210px);
}

.pageDeLancement > div{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.headerPageDeLancement{
  width: 90%;
  height: 50vh;
  border-radius: 30px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.imagePageDeLancement{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headerPageDeLancement > h2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}

.btnLancementQuizz{
  padding: 20px 40px;
  background: linear-gradient(90deg, #FF00F1 0%, #6100FF 100%);
  color: white;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.overlayLancementQuizz{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to bottom, #FF00F1 0%, #6100FF 100%);
  opacity: 0.3;
}

/**** Affichage des questions et des réponses au quizzz ***/

.AffichageQuestion{
  width: 90%;
  margin: 50px auto;


}

.LaQuestion{
  width: 100%;
  height: 20vh;
  background: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;

}

.LaQuestion > video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.LesReponses{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin: 10px auto;

}

.LesReponses > div{
  width: 100%;
  padding-top: 100%;
  background: #efefef;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  text-transform: uppercase;
}

.LesReponses > div > span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
  z-index: 20;
}

.LesReponses > div > img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.overlayRep.checked{
  background: #FF00F1!important;
  opacity: 0.5;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.AffichagePoints{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #FFF;
  border: solid 2px #eeeeee;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerFinQuizz{
  height: calc(100vh - 100px - 110px);
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.containerFinQuizz > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 40%;
  background: #eeeeee;
  border-radius: 10px;
}





.btn_submit {
  display: block;
  text-align: center;
  border: 0;
  background: linear-gradient(90deg, #FF00F1 0%, #6100FF 100%);
  border-radius: 50px;
  color: #fff;
  position: relative;
  padding: 15px 5px;
  width: 40vw;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  outline: none;
}

/****       FIN LOGIN       ****/


/* SCORE */

#score_list {
  height: 50vh;
  overflow-y: auto;
}

#score_list .score_item {
  display: flex;
  border-left: 3px solid #6100FF;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 15px 30px;
}

.score_item .score_item_points,
.score_item .score_item_num {
  color: #999;
}

.score_item .score_item_points span {
  background: -webkit-linear-gradient(90deg, #FF00F1 0%, #6100FF 100%);
  background: linear-gradient(90deg, #FF00F1 0%, #6100FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#score_local {
  display: flex;
  justify-content: space-between;
  background: -webkit-linear-gradient(90deg, #FF00F1 0%, #6100FF 100%);
  background: linear-gradient(90deg, #FF00F1 0%, #6100FF 100%);
  padding: 10px 20px;
  margin: 20px 30px 5px;
  color: #fff;

}

/* END SCORE */



/****       Profil        ****/
#profil{
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#titre_profil{
  margin-top: 2vh;
  font-weight: bold;
  position: relative;
}

#titre_profil:after{
  top: +80%;
  left: 0;
  position: absolute;
  content: "  ";
  height: 0.4vh;
  width: 100%;
  background: linear-gradient(90deg, #FF00F1 0%, #6100FF 100%);
}

.component_profil{
  margin-top: 2vh;
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn_change{
  text-align: center;
  border: 0;
  background: linear-gradient(90deg, #FF00F1 0%, #6100FF 100%);
  border-radius: 50px;
  color: #fff;
  position: relative;
  padding: 7px 2px;
  width: 40vw;
  margin-top: 2vh;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  outline: none;
}

#myquizz{
  margin-top: 8vh;
  position: relative;
}

#disconnect{
  width: 60%;
  height:60%;
  background: url("./img/icon/logout.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.champ_profil{
  border: none;
  outline: none;
  padding: 1vh;
  background-color: white;
}

#addquiz{
  position: absolute;
  top: -50%;
  right: 0;
  width: 7vh;
  height: 7vh;
  background: #FFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

#btnquizz{
  width: 60%;
  height:60%;
  background: url("./img/icon/add.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


/****       FIN PROFIL        ****/


/****       Add Quizz       ****/

.input_radio{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  margin: 10px;
  width: 20%;
  position: relative;
  font-size: 22px;
  display: flex;
  justify-content: space-around;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}


/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background: linear-gradient(90deg, #FF00F1 0%, #6100FF 100%);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#label_radio{
  width:40%;
}

.txtfile{
  width: 70vw;
  position: relative;
  margin: 30px auto;
}